<div class="container pt-4">
  <div class="row mt-5">
    <div class="col">
      <h1 class="mb-5">Contactos</h1>
      <a href="/contacto/nuevo" class="btn btn-success"><i class="fas fa-user-plus"></i></a>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each contactos}}
          <tr>
            <th>{{this.nombre}}</th>
            <td>{{this.identificacion}}</td>
            <td>{{this.tipo}}</td>
            <td>
              <a class="btn btn-primary" href="/contacto/editar/{{this._id}}"><i class="far fa-edit"></i></a>
              <a class="btn btn-info"  href="/contacto/ver/{{this._id}}"><i class="far fa-eye"></i></a>
              <a class="btn btn-danger" href="/contacto/eliminar/{{this._id}}"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>